**/.DS_Store
.bundle
**/Gemfile.lock
**/gems/*
iso/*
iso
*.ova
tmp/*
Vagrantfile
Vagrantfile.*
.vagrant
!lib/veewee/templates/Vagrantfile.erb
!lib/veewee/provider/kvm/templates/Vagrantfile
cookbooks/*
manifests/*
boxes/*
pkg/*
*.box
virtualfloppy.vfd
*.swp
AutoPartition.app
.ruby-version
.rbenv-gemsets
.project
.ruby-version
**/rhcp.sh