**/.DS_Store
.bundle
.gradle
**/Gemfile.lock
**/gems/*
iso/*
iso
*.ova
tmp/*
.vagrant
cookbooks/*
manifests/*
boxes/*
pkg/*
*.box
virtualfloppy.vfd
*.swp
AutoPartition.app
.ruby-version
.rbenv-gemsets
.project
.ruby-version
**/rhcp.sh
*.vmdk
*.ovf
.idea
*.iml
target
packer_cache
.vagrant
